@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --card-1-stroke: #e67339;
  --card-2-stroke: #a66363;
  --card-3-stroke: #eb3828;
  --card-4-stroke: #a6a09d;
  --card-5-stroke: #99938a;
  --card-6-stroke: #5f7c98;
  --card-base-stroke: #e0e0e0;
  --card-copy: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-size: clamp(2rem, 5vw, 7rem);
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 3rem);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.05rem;

  @media screen and (min-width: 768px) {
    font-size: clamp(1.75rem, 2.5vw, 3rem);
  }
}

img,
svg {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15rem 2rem;
  text-align: center;
}

.row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.card-container {
  position: relative;
  border-radius: 1rem;
  flex: 1;
  aspect-ratio: 1;
  overflow: hidden;
}

.svg-stroke {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1.5);
}

#card-1 .svg-stroke-1 svg path {
  stroke: var(--card-1-stroke) !important;
}

#card-2 .svg-stroke-1 svg path {
  stroke: var(--card-2-stroke) !important;
}

#card-3 .svg-stroke-1 svg path {
  stroke: var(--card-3-stroke) !important;
}

#card-4 .svg-stroke-1 svg path {
  stroke: var(--card-4-stroke) !important;
}

#card-5 .svg-stroke-1 svg path {
  stroke: var(--card-5-stroke) !important;
}

#card-6 .svg-stroke-1 svg path {
  stroke: var(--card-6-stroke) !important;
}

.svg-stroke-2 svg path {
  stroke: var(--card-base-stroke) !important;
}

.card-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--card-copy);

  @media screen and (min-width: 768px) {
    bottom: 2rem;
    left: 2rem;
  }
}

.card-title .word {
  will-change: transform;
}
